<section class="about section">
  <div class="section-inner">
    <div class="post">
      <h2 class="heading">{{ post.title }}</h2>
      <div class="description">{{ post.postedOn | date:'dd.MM.yyyy' }}</div>
    </div>
    <hr class="divider"/>
    <div class="perex">
      {{ post.perex }}
    </div>
    <div class="content" [innerHTML]="post.content">
    </div><!--//content-->
    <hr class="divider"/>
    <app-comments [post]="post"></app-comments>
  </div><!--//section-inner-->
</section><!--//section-->
