<h4>Comments</h4>
<div class="comments" *ngIf="post && post.comments">
  <div class="comment" *ngFor="let c of post.comments">
    <img gravatar [email]="c.email" [size]="60">
    <div class="description">
      <span class="author">
        <a *ngIf="c.email" href="mailto:{{ c.email }}">{{ c.author }}</a>
        {{ !c.email ? c.author : '' }}
      </span>
      <br/>
      <span class="date">{{ c.createdOn | date:"dd.MM.yyyy HH:mm:ss"  }}</span>
    </div>
    <div class="content">
      <p>{{ c.content }}</p>
    </div>
  </div>
  <h5>Post a comment</h5>
  <div class="addpost">
    <form (ngSubmit)="save()">
      <div class="form-group">
        <label for="author">Name</label>
        <input type="text" class="form-control" id="author" name="author" [(ngModel)]="comment.author" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="comment.email">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" [(ngModel)]="comment.content" ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

