<aside class="certifications aside section">
  <div class="section-inner">
    <h2 class="heading">Certifications</h2>
    <div class="content">
      <div class="item" *ngFor="let c of certifications">
        <a [href]="c.link" target="_blank"><img [src]="c.img"/></a>
        <div class="description">
          <a [href]="c.link" target="_blank"><span class="name">{{ c.title }}</span></a><br/><span
          class="license">{{ c.license }}</span>
        </div>
      </div>
      <p><a class="more-link" href="https://www.linkedin.com/in/martinlinha"><i class="fa fa-external-link"></i> More on
        Linkedin</a></p>
    </div>
  </div>
</aside>
