<aside class="certifications aside section">
  <div class="section-inner">
    <h2 class="heading">Certifications</h2>
    <div class="content">
      <div class="item">
        <img src="../assets/images/oracle-logo.png" />
        <div class="description">
          <span class="name">Oracle Certified Associate, Java SE 7 Programmer</span><br/><span
          class="license">Oracle, 1z0-803</span>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/oracle-logo.png" />
        <div class="description">
                <span class="name">
                Oracle Certified Professional, Java SE 7 Programmer</span><br/><span
          class="license">Oracle, 1z0-804</span>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/oracle-logo.png" />
        <div class="description">
          <span class="name">Oracle Certified Professional, Java SE 8 Programmer (upgrade)</span><br/><span
          class="license">Oracle, 1z0-810</span>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/oracle-logo.png" />
        <div class="description">
          <span class="name">Oracle Certified Expert, Java EE 6 Web Component Developer</span><br/><span
          class="license">Oracle, 1z0-899</span>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/oracle-logo.png" />
        <div class="description">
          <span class="name">Oracle Certified Expert, EE 6 Java Persistence API Developer</span><br/><span
          class="license">Oracle, 1z0-898</span>
        </div>
      </div>
      <div class="item">
        <img src="../assets/images/avaloq-logo.png" />
        <div class="description">
          <span class="name">Avaloq Certified Professional</span><br/><span
          class="license">Avaloq</span>
        </div>
      </div>
      <div class="item" *ngFor="let c of certifications">
        <img [src]="c.img" />
        <div class="description">
          <span class="name">{{ c.title }}</span><br/><span
          class="license">{{ c.license }}</span>
        </div>
      </div>
      <p><a class="more-link" href="https://www.linkedin.com/in/martinlinha"><i class="fa fa-external-link"></i> More on Linkedin</a></p>
    </div>
  </div>
</aside>
