<aside class="contribution aside section">
  <div class="section-inner">
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fa fa-github"></i> Github</h3>
        <h4 class="contr-item">142 <span class="description">commits</span></h4>
        <h4 class="contr-item">13 <span class="description">respositories</span></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-stack-overflow"></i> Stackoverflow</h3>
        <h4 class="contr-item">265 <span class="description">points</span></h4>
        <h4 class="contr-item"><i class="silver fa fa-circle"></i> 1 <i class="bronze fa fa-circle"></i> 13</h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
