<aside class="contribution aside section">
  <div class="section-inner">
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fa fa-github"></i> Github</h3>
        <h4 class="contr-item">{{ githubUser?.githubAccount?.repoCount }} <span class="description">repositories</span></h4>
        <h4 class="contr-item">{{ githubUser?.githubAccount?.commitCount }} <span class="description">commits</span></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-stack-overflow"></i> Stackoverflow</h3>
        <h4 class="contr-item">{{ stackOverflowUser?.reputation }} <span class="description">points</span></h4>
        <h4 class="contr-item">
          <span *ngIf="stackOverflowUser?.badge_counts?.gold > 0" class="badge"><i class="gold fa fa-circle"></i> {{ stackOverflowUser?.badge_counts?.gold }} </span>
          <span *ngIf="stackOverflowUser?.badge_counts?.silver > 0" class="badge"><i class="silver fa fa-circle"></i> {{ stackOverflowUser?.badge_counts?.silver }} </span>
          <span *ngIf="stackOverflowUser?.badge_counts?.bronze > 0" class="badge"><i class="bronze fa fa-circle"></i> {{ stackOverflowUser?.badge_counts?.bronze }} </span>
        </h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
