<aside class="contribution aside section">
  <div class="section-inner">
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fa fa-github"></i> Github</h3>
        <h4 class="contr-item">{{ user?.githubAccount?.repoCount }} <span class="description">repositories</span></h4>
        <h4 class="contr-item">{{ user?.githubAccount?.commitCount }} <span class="description">commits</span></h4>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fa fa-stack-overflow"></i> Stackoverflow</h3>
        <h4 class="contr-item">{{ user?.stackOverflowAccount?.points }} <span class="description">points</span></h4>
        <h4 class="contr-item">
          <span *ngIf="user?.stackOverflowAccount?.gold > 0" class="badge"><i class="gold fa fa-circle"></i> {{ user?.stackOverflowAccount?.gold }} </span>
          <span *ngIf="user?.stackOverflowAccount?.silver > 0" class="badge"><i class="silver fa fa-circle"></i> {{ user?.stackOverflowAccount?.silver }} </span>
          <span *ngIf="user?.stackOverflowAccount?.bronze > 0" class="badge"><i class="bronze fa fa-circle"></i> {{ user?.stackOverflowAccount?.bronze }} </span>
        </h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
